#set up the other  data nodes in the cluster
---
  - hosts: other-hosts[0]
    become: true

    tasks:

      - name: Add Remaining Nodes to cluster
        include_tasks: includes/add-remaining-nodes-to-cluster.yml
        loop: "{{hostvars[inventory_hostname].groups['other-hosts']}}"
