# this playbook includes a play that pings the nodes in from the inventory group for couchbase_nodes
---
  - hosts: couchbase_nodes
    become: true
    tasks:
      - name: Ping All Nodes in Cluster
        include_tasks: includes/ping-nodes.yml
        when: operating_system.ping_nodes == true
