#this playbook checks to see if we need to update the operating system packages using the requisite package managers
---
  - hosts: couchbase_nodes
    become: true
    tasks:
      - name: Update Linux Packages
        include_tasks: includes/yum-updates.yml
        when: operating_system.update_packages == true
